.tabulous.pagination-footer {
  border: 1px solid rgba(34, 36, 38, 0.1) !important;
  padding: 0px 10px;
}

.tabulous.pagination-footer .ui.menu .item:before {
  background: #d6e7f3 !important;
}

.tabulous.pagination-footer .ui.ribbon.label {
  left: 0px !important;
}

.pagination_select {
  width: 120px;
  font-weight: normal;
}
