.rt-pagination-footer {
  width: 100%;
  position: relative;
  margin-top: 10px;
  border: 1px solid rgba(34, 36, 38, 0.1) !important;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rt-pagination-footer .ui.menu .item:before {
  background: #d6e7f3 !important;
}

.rt-pagination-footer .ui.ribbon.label {
  left: 0px !important;
}

.pagination_select {
  width: 120px;
  font-weight: normal;
  z-index: 3;
}
