.main-table_layout {
  position: relative;
}
/* table header fixed and scroller x and y */

table {
  border-collapse: collapse;
}
th,
td {
  background: #fff;
  padding: 8px 16px;
}
th div,td div{
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
}

.tableFixHead {
  overflow: auto hidden;
}

.shouldSroll {
  max-height: calc(100vh - 1rem);
  overflow-y: auto;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 20;
}

.tableBody-scroll::-webkit-scrollbar {
  width: 0;
}
.ui.fitted.checkbox.bulkAction_check {
  align-self: flex-end;
}

.table-wrapper {
  position: relative;
}

/* There are some basic stylings required for the "table" element and div that wraps the table element */
/* Below stylings were copied from the pagination component which was earlier providing the wrapper */

.scrollable-table .tableStyle {
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}
.tableStyle .tbody {
  border-collapse: collapse;
  border-spacing: 0;
}

.tableStyle thead > tr th {
  background: #f1f5f7 !important;
}

.tableStyle .ui.ribbon.label {
  background: #d6e7f3;
  color: #26547c;
}

.tableStyle tbody tr td {
  text-align: center !important;
}

/* The .bar selector represents the vertical line we use to resize column width */

.bar{
  font-size:20px;
  color: violet;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  cursor: col-resize;
  right: 0px;
  top: 0;
}
.bar:hover{
  color: black;
}

/* Semantic-UI has some default styling for the behavior of table-header when we Sort the respective column. */
/* Below styling helps get rid of that default behavior */

.ui.sortable.table thead th.sorted:after {
  display: none !important;
}
.ui.sortable.table thead th.descending:after {
  display: none !important;
}
.ui.sortable.table thead th.ascending:after {
  display: none !important;
}