.main-table_layout {
  position: relative;
}
/* table header fixed and scroller x and y */

table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  background: #fff;
  padding: 8px 16px;
}

.tableFixHead {
  overflow: auto hidden;
}

.shouldSroll {
  max-height: calc(100vh - 1rem);
  overflow-y: auto;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 20;
}

.tableBody-scroll::-webkit-scrollbar {
  width: 0;
}
.ui.fitted.checkbox.bulkAction_check {
  align-self: flex-end;
  margin-right: 30px;
}

.bulkAction-check .ui.fitted.checkbox {
  min-height: 14px;
  margin-right: 10px;
}
