.table-actions .button {
  background: #5da1cd;
  color: #fff;
}

.table-actions .button:hover {
  background: #5da0cde7;
  color: #fff;
}

.tableStyle.table-fixed tr td.table-action_buttons {
  width: 0;
  position: relative;
  padding: 0 !important;
}

.table-actions.onHoverActions {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #fff;
}

.tableStyle.table-fixed tbody tr:hover .table-actions {
  cursor: pointer;
  display: flex !important;
}
