.filter-wrapper {
  display: flex;
  flex-flow: column;
  min-width: 200px;
}

.filter-wrapper .text-input .css-1pcexqc-container .css-16pqwjk-indicatorContainer {
  padding: 2px;
}
.filter-wrapper .text-input .css-1pcexqc-container svg {
  height: 15px;
  width: 15px;
}

.filter-wrapper .text-input .ui.input input {
  min-width: 150px;
  max-width: 150px;
}

.filter-btns .filter_btn {
  background: none;
  color: #5c5c5c;
  padding: 0;
  margin: 0 5px;
  font-weight: 500;
}

.filter-btns .filter_btn.add {
  display: flex;
  align-items: center;
}

.filter-btns .filter_btn:hover {
  background: none;
  color: #474747;
}

.filter-btns .filter_btn:focus {
  background: none;
  color: #3785fa;
}
.filter-popUp::before {
  display: none;
}

.filter-wrapper .css-ssi0ig-container,
.filter-wrapper .css-1pcexqc-container {
  max-width: 100px !important;
}

.ui.button:disabled {
  cursor: not-allowed !important;
  pointer-events: all !important;
}

/* for single select */

/* .singleSelect .css-16pqwjk-indicatorContainer, */
.singleSelect .css-bgvzuu-indicatorSeparator {
  display: none;
}

.singleSelect .css-bg1rzq-control {
  border: none;
}

/* reducing the padding btn text and svg icon */

.singleSelect .css-1hwfws3 {
  padding-right: 0;
  justify-content: center;
}

.singleSelect .css-16pqwjk-indicatorContainer {
  padding-left: 0;
}

/* bgc on hover */

.singleSelect .css-bg1rzq-control:hover {
  background: #f2f2f2;
}

.singleSelect .css-1szy77t-control:hover,
.singleSelect .css-1szy77t-control {
  border-color: transparent;
  box-shadow: none;
}

.singleSelect .css-bg1rzq-control {
  padding: 0px;
  min-height: 30px !important;
}

/* .css-1szy77t-control svg {
  display: none !important;
} */

/* show only 2 values for multi-select */
.filter-multi-select {
  vertical-align: top;
  min-width: 150px;
  max-width: 150px;
}

.css-1pcexqc-container.filter-multi-select .css-1hwfws3 {
  display: flex;
  flex-wrap: nowrap !important;
}

.css-es53b3-multiValue {
  margin: 0 !important;
}

.css-es53b3-multiValue:nth-last-child(n + 3) {
  width: 0px;
  border: none;
  background: transparent;
  color: transparent;
}

.css-es53b3-multiValue:nth-last-child(n + 3) .css-12jo7m5 {
  color: transparent;
}

.css-es53b3-multiValue:nth-last-child(n + 3) .css-1alnv5e {
  display: none;
}

.css-es53b3-multiValue:nth-last-child(3) {
  position: relative;
  width: 15px;
}

.css-es53b3-multiValue:nth-last-child(3) ::before {
  position: absolute;
  content: '...';
  color: rgb(38, 84, 124);
  width: 10px;
  font-size: 18px;
  bottom: -3px;
  left: 0px;
}
