.searchInput {
  height: 33px;
}

.searchInputDiv {
  border: '1px solid rgb(214, 231, 243)';
  color: '#667797';
  position: 'relative';
  margin-left: '10px';
}
.closeIcon {
  position: 'absolute';
  right: '0px';
  left: 'unset';
  cursor: 'pointer';
  pointer-events: 'auto';
}
.searchInput {
  background: '#d6e7f3';
  border-radius: '0px';
  font-weight: 'normal';
  border: '1px solid rgb(214, 231, 243)';
}

.noRecordsDiv {
  font-size: 1.1em;
  letter-spacing: 0.5px;
  font-weight: 500;
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
  grid-column: 1/10;
  box-sizing: border-box;
}
