body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.tableStyle {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.paginationFooter .ui.menu .item:before {
  background: #d6e7f3 !important;
}

.paginationFooter .css-10nd86i {
  min-width: 110px;
}

.paginationFooter .css-15k3avv {
  top: auto;
  bottom: 100%;
}

.paginationFooter .css-11unzgr > div {
  padding: 5px 10px !important;
}

.ui.button.dropdown.bulk-action {
  background: #3496d8;
  color: #fff;
  margin-right: 10px;
}
